
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% load static %}
        {% csrf_token %}
        <title>KJSIEIT Newsletter Portal</title>
        <meta content="Newsletter Generator Portal for Department of Computer Engineering, KJSIEIT" name="description">
        <meta content="KJSIEIT, Newsletter, KJSIEIT Newsletter, KJSIEIT Newletter Portal" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'assets/img/slogo.png' %}" rel="icon">
        <!-- <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="https://kjsieit.somaiya.edu.in/en"><img src="{% static 'assets/kjsieit-logo.svg' %}" alt="KJSIEIT Logo" class="img-fluid"></a>
                </div>
            </div>
        </header><!-- End Header -->

        <main id="main">
            <section id="contact" class="contact section-bg">
                <div class="container">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Forgot Password</h2>
                        {% for message in messages %}
                            {% if message == "OTP sent on registered email" %}
                                <p><font color="green">{{message}}</font></p>
                            {% else %}
                                <p><font color="red">{{message}}</font></p>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="offset-lg-3 col-lg-6 mt-5 mt-lg-0">
                            <form action="{% url 'forgot_pass' %}" method="post" role="form" class="php-email-form" data-aos="zoom-in">
                                {% csrf_token %}
                                <!-- Email -->
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control box" name="email" id="form_email" placeholder="Email Address">
                                    <span class="error_form" id="email"></span>
                                </div>

                                <!-- Password -->
                                <div class="form-group mt-3">
                                    <input class="form-control box" name="pwd" rows="5" type='password' placeholder="Enter New Password" id="form_pwd"></input>      
                                    <span class="error_form" id="pwd"></span>
                                </div>
                                <div class="form-group mt-3">
                                    <input class="form-control box" name="con_pwd" rows="5" type='password' placeholder="Re-enter New Password" id="form_con_pwd"></input>      
                                    <span class="error_form" id="con_pwd"></span>
                                </div>
                                <div class="text-center mt-3"><button type="submit" name="otp" value="otp">Send OTP</button></div> 
                                
                                <div class="text-center mt-3">
                                    Don't have an account? <a href="{% url 'registration' %}" class="form-links">Sign up</a>
                                </div>                                               
                            </form>
                        </div>
                    </div>
                </div>
            </section><!-- End Contact Section -->
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" style="margin-top: 80px;">
            <div class="container footer-bottom clearfix">
                <div class="copyright">
                    <strong><span>Developed by students of KJSIEIT</span></strong>
                </div>
            </div>
        </footer><!-- End Footer -->

        <!-- Vendor JS Files --> 
        <script src="{% static 'assets/vendor/jquery/jquery.slim.min.js' %}"></script>
        <script src="{% static 'assets/vendor/jsdelivr/popper.min.js' %}"></script>       
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>